.articleTitle{
color:blue;
/* background-color:red; */
/* border-style: groove; */
}
hr{
    color:black;
}
.WholeArticle{
    border-style: groove;
    border-color: black;
    background-color:white

}
.writtenBy{
    color:grey
}
.articlebutton{
    color:red
}
.Body{
    display:none;
    height:200px;
    overflow: scroll;

   
}
.OverLay{
    /* position:absolute; */
    background-color:black;
    opacity: 0.6;
    left:0;
    bottom:0;
    z-index:-1;
    

}
.disablebutton{
    display:none;
    color:green
}
.articlebutton{
    display:block
}