.articleTitle{
color:blue;
/* background-color:red; */
/* border-style: groove; */
}
hr{
    color:black;
}
.WholeArticle{
    border-style: groove;
    border-color: black;

}
.writtenBy{
    color:grey
}
.articlebutton{
    color:red
}
.Body{
    display:none;
    height:200px;
    overflow: scroll;

   
}
.disablebutton{
    display:none;
    color:green
}
.articlebutton{
    display:block
}