.header{
    background-color: #222;
  
    text-align: left;
    font: 2em "Fira Sans", sans-serif;
    


}
.middle{
    background-color:	#FF0000;
    font: 1em "Fira Sans", sans-serif;
  
    


}